/** 住所を非表示にするコード */
/* フッターの住所（推定） */
#fbar > div > div:where(:nth-child(2)),
.b2hzT,
/** 検索結果上部に表示される住所 */
dynamic-visibility-control > div > div > div > div:first-child > span > :nth-child(3 of span),
.BBwThe {
  display: none !important;
}


dynamic-visibility-control > div > div > div > div:first-child > span::after,
:is(.eKPi4, .BUSxSd) > span::after {
  content: "個人情報の為非表示" !important;
  /* display: block !important; */
  max-width: auto !important;
}